{sys, [
       {lib_dirs, ["../apps/", "../deps/"]},
       {rel, "mqhub", "1",
        [
         kernel,
         stdlib,
         sasl,
         mqhub
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "mqhub"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, mqhub, [{incl_cond, include}]}
      ]}.

{target_dir, "mqhub"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/mqhub", "bin/mqhub"},
           {template, "files/mqhub-admin", "bin/mqhub-admin"}
           ]}.
